* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: #000;
    font-family: arial;
    background-color: #fff;
}

.row {
    display: flex;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

/* media query is only apllicable for devices */
@media only screen and (min-width: 1200px) {
    body {
        background-color: gray;
    }

    .container {
        width: 1200px;
        margin: auto;
    }

    .col-xxl-3 {
        width: 25%;
    }

}
@media only screen and (max-width:575px) {
    body{
        background-color: green;
    }
    .container {
        width: 98%;
        margin: auto;
    }
    .col-xs-6{
        width: 50% !important;
    }
}